.header {
  background-color: #2C3E50;
  color: white;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  align-self: flex-end;
}
