.main-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  max-height: calc(100vh - heightOfHeader - heightOfQueryBar);
}

.message {
  margin-bottom: 1rem;
  max-width: 70%;
  border-radius: 0.5rem;
}

.response {
  align-self: flex-start;
  background-color: #f3f3f3;
  padding: 0.5rem 1rem;
  max-width: 60%;
  border-radius: 0.5rem;
  font-family: 'Poppins', sans-serif;
}

.query {
  align-self: flex-end;
  background-color: #007bff;
  color: white;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  max-width: 60%;
  border-radius: 0.5rem;
  font-family: 'Poppins', sans-serif;
}